.date {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 5vh;
}

.date__item + .date__item {
	margin-top: 2vh;
}

.date__prop {
	cursor: pointer;
}

.date__day {
	display: none;
}

.date__day.active {
	display: block;
}

.crib__images{
	max-width: 100%;
}

.wrapper{
	position: relative;
}

.link{
	color:rebeccapurple;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
	text-decoration: none;

}
.link:visited{
	color:rebeccapurple;
	text-decoration: none;
}